body{
  background-image: url(../img/burlap.jpg);
  height: auto;
  width:1200px;
}

.heading{
  background-image: url(../img/header.jpg);
  width:1200px;
  height: 500px;
  margin-bottom: 20px;
}

#header{
  text-align: center;
  text-decoration: bold;
  font-size: 24px;
  color: #000;
}


