body{
  background-image: url(../img/burlap.jpg);
  width:100%px;
  <!--background-color:#f2dfaa;-->
  background-repeat: no-repeat;
  background-position: center;
}

.heading{
  background-image: url(../img/header.jpg);
  background-position: center;
  <!--background-color:#002e54;-->
  background-repeat: no-repeat;
  width:100%px;
  height: 500px;
  margin-bottom: 20px;
}

#header{
  text-align: center;
  text-decoration: bold;
  font-size: 40px;
  color: #000;
  position: relative;
  top:40%;
  width:100%;
  
}


